venv
__pycache__
*.pyc
instance
.env
*.sqlite3
.DS_Store
.idea
.vscode
*.log
coverage
htmlcov
dist
build
*.egg-info
.pytest_cache
.mypy_cache
.cache
.ipynb_checkpoints
celerybeat-schedule
*.sqlite
*.db
*.bak
*.swp
*.tmp
*.cover
*.pid
*.seed
*.mock
*.orig
*.rej
*.swo
*.class
*.war
*.jar
*.iml
*.class
out
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage.*
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.coveragerc
*.pyo
.pyre/
